<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/store">Store</a></li>
    <li><a ng-href="#/admin">Administrator</a></li>
   
  </ul>
  <h3 class="text-muted">Capitaaahhh</h3>
</div>



<input type="text" data-ng-model="post.title" value="{{post.title}}">
<textarea data-ng-model="post.content">{{post.content}}</textarea>
<button data-ng-click="edit()">Update Post</button>