<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li class="active"><a ng-href="#/store">Store</a></li>
    <li><a ng-href="#/admin">Administrator</a></li>
   
  </ul>
  <h3 class="text-muted">Capitaaahhh</h3>
</div>


<div ng-controller="CheckoutCtrl">
<div class="jumbotron col-lg-6">
    <div ng-model="buyTheseThings">
      <ul class="productList">
        <li ng-repeat="product in products">
            <ul class="products">
              <li class="row">
                <div class="col-md-6">
                  <img ng-src="{{product.thumbnail}}">
                </div>
                <div class="col-md-6">
                  <span>Model: {{product.model}} </span><br>
                  <span>Price: {{product.price | currency}} </span><br>
                  <a class="btn btn-sm btn-success" ng-click="addToCart(product)">Add Item</a>

                </div>
              </li>
              
            </ul>
        </li>
      </ul>
      

    </div>
  
</div>

<div class="col-lg-6">
    <table class="table">
        <tr>
            
            <th></th>
            <th>Model</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="product in itemCheckout">
            <td></td>
            <td>{{product.model}}</td>           
            <td><input type="number" ng-model="item.qty" ng-required class="input-mini"></td>
            <td>{{product.price | currency}}</td>
            <td>{{product.qty * product.price | currency}}</td>
            <td>
                [<a href ng-click="removeFromCart(item)" class="btn btn-small">Remove</a>]
            </td>
        </tr>
        <tr>
            <td><a href ng-click="addItem()" class="btn btn-small">Checkout</a></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
  
    
</div>
</div>
