<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/store">Store</a></li>
    <li class="active"><a ng-href="#/admin">Administrator</a></li>
   
  </ul>
  <h3 class="text-muted">Capitaaahhh</h3>
</div>

<ul>
	<li>{{product.model}}</li>
	<li>{{product.price}}</li>
	<li>{{product.description}}</li>
	<li><img ng-src="{{product.image}}"></li>
	<li><img ng-src="{{product.image2}}"></li>
	<li><img ng-src="{{product.thumbnail}}"></li>
</ul>


	<input type="text" data-ng-model="product.model" value="{{product.model}}"><br>
    <input type="text" data-ng-model="product.price" value="{{product.price}}"><br>
    <input type="text" data-ng-model="product.image" value="{{product.iamge}}" ><br>
    <input type="text" data-ng-model="product.image2" value="{{product.image2}}" ><br>
    <input type="text" data-ng-model="product.thumbnail" value="{{product.thumbnail}}"><br>
    <textarea name="content" id="" cols="30" rows="10" data-ng-model="product.description" value="{{product.description}}"></textarea>
    <button data-ng-click="edit()">Update Product</button>
    <button data-ng-click="delete()">Delete Product</button>