body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.products {
    list-style-type: none;
}

.products img {
     width: 150px;
     height: 300px;
    
}

.productList {
    list-style-type: none;
}

.cart {
    position: fixed;
}

.mainj {
}
