body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.products {
    list-style-type: none;
}

.products img {
     width: 150px;
     height: 300px;
    
}

.productList {
    list-style-type: none;
}

.cart {
    position: fixed;
}

.mainj {
	width: 686px;
	height: 225px;
	background-image: url(https://www.capitasnowboarding.com/sites/all/themes/capita1314/images/Header-banner_915x300.png);
	background-repeat: no-repeat;
}
